.footer {
  padding: 96px 0;
  background-color: #2e2f42;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 72px;
}
.footer-desc {
  color: #f4f4fd;
}
.left {
  max-width: 288px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.black {
  margin-bottom: 16px;

  text-align: center;
}

.center {
  width: 208px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}
.socials-caption {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.footer-socials {
  display: flex;
  gap: 16px;
}
.footer .socials-link {
  border-radius: 20px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.footer .socials-link:hover,
.footer .socials-link:focus {
  background-color: #31d0aa;
}
.right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  max-width: 288px;
}

/* Footer form */
.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.footer-form-input {
  width: 288px;
  height: 40px;
  padding: 8px 16px;

  color: #fff;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  background-color: transparent;
  outline: transparent;
  border: 1px solid #fff;
  border-radius: 4px;

  transition: 250ms ease-out;
  transition-property: border-color;
}
.footer-form-input:focus {
  border-color: #31d0aa;
}
.footer-form-input::placeholder {
  color: #fff;
}

.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;

  border: none;

  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  max-width: 165px;
  background-color: #4d5ae5;
  transition: 250ms ease-out;
  transition-property: background-color;

  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
}
.footer-btn:hover,
.footer-btn:focus {
  background-color: #31d0aa;
}

/* Tablet styles */
@media only screen and (min-width: 768px) {
  .footer .container {
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;

    gap: 72px 24px;
    padding: 0 108px;
  }
  .left {
    max-width: 264px;
    align-items: flex-start;
  }
  .center {
    align-items: flex-start;
  }
  .right {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 453px;
  }
  .footer-form {
    flex-direction: row;
    gap: 24px;
  }
  .footer-form-input {
    width: 264px;
  }
}

/* Desktop styles */
@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
  .footer .container {
    padding: 0 15px;
    gap: 0;
  }
  .left {
    margin-right: 120px;
  }

  .right {
    margin-left: auto;
  }
}
