.header {
  border-bottom: 1px solid #e7e9fc;
}
.header > .container {
  display: flex;
}
.nav {
  margin-left: 76px;
  margin-right: auto;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-item {
}
.nav-link {
  position: relative;
  display: block;
  padding: 24px 0;
  font-weight: 500;
  color: #2e2f42;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: #404bbf;
}
.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  border-radius: 2px;
  height: 4px;
  background-color: #404bbf;
}
.contacts {
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-item {
}
.contacts-link {
  display: block;
  padding: 24px 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
